<html>
	<head>
        <title>blog</title>
    </head>
<body>
	 <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>The admin has many hooks for customization, but beware of trying to use those hooks exclusively. 
            f you need to provide a more process-centric interface that abstracts away the implementation details of database tables and fields, then it’s probably time to write your own views.</p>
        </div>

    
</body>
</html>
